/* * {
    height: 100%;
}*/

body{
    background-image: linear-gradient(to right,  #00747C, #00BBC9);
}

main{
    background-color: white ;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(17, 255, 255, 0.863);
}

h1{
    color: #CACACA;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(56, 52, 52);
}

h2{
    color: #878787;
}

h3{
    color: #202022;
}



p{
    text-align: justify;
}